@media  screen and (max-width: 1310px) {
    .main-img::before {
        content: none;
    }
    .main-img::after {
        content: none;
    }
}

@media  screen and (max-width: 1169px) {
    .menu-items {
        grid-template-columns: repeat(2, 263px);
        justify-content: center;
        grid-column-gap: 29px;
        grid-row-gap: 136px;
    }
}

@media  screen and (max-width: 980px) {
    .information-benefits {
        grid-template-columns: repeat(2, 220px);
        justify-content: center;
        grid-column-gap: 54px;
        grid-row-gap: 80px;
    }

    .benefits-item {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
}

@media  screen and (max-width: 767px) {
    .header .container {
        display: flex;
        justify-content: space-between;
    }

    .strawberry_1, .strawberry_2 {
        display: none;
    }

    .header-menu {
        margin: 0 auto;
    }

    .header-menu ul li {
        margin: 0 19px
    }

    .header .number {
        display: none;
    }

    .main {
        padding-bottom: 420px;
        position: relative;
    }

    .header .container {
        grid-template-columns: 103px 313px;
        justify-content: start;
    }

    .main-img {
        position: absolute;
        right: 55px;
        bottom: 62px;
    }

    .information .information-description{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    .macaroon-info {
        margin: 0 auto 40px auto;
        max-width: unset;
    }

    .information-description-text {
        max-width: 672px;
    }

    .information-description-text h2 {
        max-width: 475px;
        margin-left: auto;
        margin-right: auto;
    }

    .information-description-img {
        max-width: 302px;
    }

    .information-benefits {
        margin-bottom: 5px;
    }

    .order-text h2 {
        font-weight: 100;
    }

    .order-image {
        order: 2;
        margin-right: 0;
    }

    .order-text {
        order: 1;
    }


    .order {
        padding-top: 120px;
    }
}

@media  screen and (max-width: 699px) {

    .main {
        padding-top: 87px;
        padding-bottom: 43px;
    }

    .main-img {
        position: unset;
        top: unset;
        left: unset;
    }

    .main .container {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
    .main-text {
        margin-bottom: 38px;
        justify-content: center;
    }

    .main-text-description {
        margin-right: auto;
        margin-left: auto;
    }
}

@media  screen and (max-width: 579px) {
    .menu-items {
        grid-template-columns: 263px;
    }

    .strawberry_1, .strawberry_2 {
        display: none;
    }

    .information-benefits {
        grid-column-gap: 25px;
    }

    .order .container {
        justify-content: center;
        text-align: center;
    }

    .order-text input {
        margin-left: auto;
        margin-right: auto;
    }

    .order-image {
        display: none;
    }

    .footer {
        display: none;
    }

    .footer.footer-mobile {
        display: block;
    }

    .footer.footer-mobile {
        padding: 50px 0;
    }

    .footer .container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-logo-and-rules {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 40px;
    }

    .footer-logo-and-rules .logo {
        margin-bottom: 40px;
    }

    .footer-instagram {
        margin-bottom: 40px;
    }
}

@media  screen and (max-width: 479px) {
    .header {
        padding-bottom: 0;
    }

    .header .container {
        flex-direction: column;
    }

    .header a {
        margin-bottom: 15px;
    }

    .main-img {
        width: 250px;
    }

    .main-text h2 {
        font-size: 32px;
        font-weight: 100;
        margin-bottom: 40px;
    }

    .main-text-description {
        margin-bottom: 40px;
    }

    .information-description-text {
        max-width: 437px;
    }

    .information-description-text h2{
        font-size: 30px;
        font-weight: 100;
    }

    .macaroon-info {
        font-size: 16px;
    }

    .information-benefits {
        grid-template-columns: repeat(2, 165px);
        grid-column-gap: 15px;
        grid-row-gap: 36px;
    }

    .benefits-item-title {
        font-size: 18px;
        font-weight: 100;
    }

    .benefits-item-description {
        font-size: 13px;
    }

    .order-text h2 {
        font-size: 30px;
    }

    .order-text-description {
        font-size: 16px;
    }
}


@media  screen and (max-width: 375px) {
    .header .container {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .burger {
        display: block;
    }

    .burger svg {
        height: 22px;
        width: 40px;
    }

    .header-menu {
        display: none;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: #000000c9;
        margin: 0;
        z-index: 9999;
    }

    .header-menu ul {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    .header-menu ul li {
        margin: 15px 0;
    }

    .header-menu.open {
        display: block;
    }

    .header-menu .close {
        display: block;
        height: 30px;
        width: 30px;
        position: absolute;
        top: 10px;
        left: 10px;
    }

    .order-text {
        text-align: left;
    }

    .order-text input {
        margin-left: unset;
        margin-right: unset;
    }
}


@media  screen and (max-width: 355px) {
    .information-benefits {
        grid-template-columns: repeat(1, 165px);
    }
}

