@font-face {
  font-family: Tavolga;
  src: url("../../fonts/tavolga_free.ttf") format("truetype"), url("../../fonts/tavolga_free.woff") format("woff"), url("../../fonts/tavolga_free.woff2") format("woff2");
}
@font-face {
  font-family: Gilroy;
  src: url("../../fonts/Gilroy-Regular.ttf") format("truetype"), url("../../fonts/Gilroy-Regular.woff") format("woff"), url("../../fonts/Gilroy-Regular.woff2") format("woff2");
}
@font-face {
  font-family: Gilroy;
  src: url("../../fonts/Gilroy-Bold.ttf") format("truetype"), url("../../fonts/Gilroy-Bold.woff") format("woff"), url("../../fonts/Gilroy-Bold.woff2") format("woff2");
  font-weight: bold;
}
@font-face {
  font-family: Gilroy-Extrabold;
  src: url("../../fonts/Gilroy-Extrabold.ttf") format("truetype"), url("../../fonts/Gilroy-Extrabold.woff") format("woff"), url("../../fonts/Gilroy-Extrabold.woff2") format("woff2");
}
@font-face {
  font-family: Gilroy-Medium;
  src: url("../../fonts/Gilroy-Medium.ttf") format("truetype"), url("../../fonts/Gilroy-Medium.woff") format("woff"), url("../../fonts/Gilroy-Medium.woff2") format("woff2");
}
body {
  font-family: Tavolga, sans-serif;
}
.container {
  max-width: 1170px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}
.loader {
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: none;
}
.button {
  text-align: center;
  background-image: -moz-linear-gradient(90deg, #71081e 0%, #d7485c 100%);
  background-image: -webkit-linear-gradient(90deg, #71081e 0%, #d7485c 100%);
  background-image: -ms-linear-gradient(90deg, #71081e 0%, #d7485c 100%);
  font-size: 18px;
  font-family: "Gilroy", sans-serif;
  color: #ffffff;
  font-weight: bold;
  border-radius: 30px;
  border: 0;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button:hover {
  box-shadow: 0 5px 9px 1px rgba(130, 19, 40, 0.5);
}
.header {
  background-color: #eba8b1;
  padding-top: 36px;
  padding-bottom: 25px;
}
.header .container {
  display: grid;
  grid-template-columns: 103px 313px 154px;
  justify-content: space-between;
  align-items: center;
}
.header .container .header-menu ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline-start: 0;
  margin: 0;
}
.header .container .header-menu ul li {
  display: inline;
}
.header .container .header-menu ul li a {
  text-decoration: none;
  font-size: 14px;
  font-family: Gilroy-Medium, sans-serif;
  color: #770b1d;
  padding-bottom: 3px;
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease;
}
.header .container .header-menu ul li:hover a {
  border-bottom: 2px solid #821328;
  padding-bottom: 3px;
}
.header .container .number {
  text-decoration: none;
  font-size: 16px;
  font-family: Gilroy, sans-serif;
  color: #ffffff;
  font-weight: bold;
}
.main {
  background-color: #eba8b1;
  padding-top: 126px;
  padding-bottom: 108px;
}
.main .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main .container .main-text {
  max-width: 580px;
}
.main .container .main-text h2 {
  font-size: 55px;
  color: #ffffff;
  margin-bottom: 60px;
  line-height: 1.09;
}
.main .container .main-text .main-text-description {
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 80px;
  max-width: 349px;
  line-height: 1.39;
}
.main .container .main-text .button {
  width: 240px;
  padding: 22px;
}
.main .container .main-img {
  position: relative;
  z-index: 2;
}
.main .container .main-img::before {
  content: "";
  width: 200px;
  height: 200px;
  position: absolute;
  top: calc(50% - 100px);
  left: calc(50% - 100px);
  border-radius: 50%;
  border: 0.01px solid #770b1d;
  z-index: -1;
  animation: pulse 3s infinite;
}
.main .container .main-img::after {
  content: "";
  width: 200px;
  height: 200px;
  position: absolute;
  top: calc(50% - 100px);
  left: calc(50% - 100px);
  border-radius: 50%;
  border: 0.01px solid #770b1d;
  z-index: -1;
  animation: pulse 3s infinite 0.5s;
}
@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(3.5);
    opacity: 0;
  }
}
.information {
  background-color: #ffefef;
  padding-top: 119px;
  padding-bottom: 120px;
}
.information .information-description {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 83px;
}
.information .information-description .information-description-text {
  max-width: 475px;
}
.information .information-description .information-description-text h2 {
  font-size: 45px;
  color: #331907;
  margin-bottom: 60px;
  line-height: 1.22;
}
.information .information-description .information-description-text .macaroon-info {
  font-size: 18px;
  font-family: "Gilroy", sans-serif;
  color: #331907;
  line-height: 1.56;
  max-width: 402px;
}
.information .information-benefits {
  display: grid;
  grid-template-columns: repeat(4, 220px);
  align-items: start;
  justify-content: space-between;
}
.information .information-benefits .benefits-item {
  grid-template-rows: 70px 23px 102px;
}
.information .information-benefits .benefits-item .benefits-item-number {
  position: relative;
}
.information .information-benefits .benefits-item .benefits-item-number .benefits-item-number-wrapper {
  border-radius: 50%;
  background-color: #821328;
  width: 70px;
  height: 70px;
  margin-bottom: 13px;
  cursor: pointer;
  transition: 0.5s ease;
}
.information .information-benefits .benefits-item .benefits-item-number .benefits-item-number-wrapper span {
  position: absolute;
  font-size: 60px;
  font-family: "Gilroy-Extrabold", sans-serif;
  color: #ffffff;
  transition: 0.5s ease;
}
.information .information-benefits .benefits-item:hover span {
  color: #821328;
}
.information .information-benefits .benefits-item:hover .benefits-item-number-wrapper {
  background-color: #eba8b1;
}
.information .information-benefits .benefits-item .number-1 span {
  top: 10px;
  left: 21px;
}
.information .information-benefits .benefits-item .number-2 span {
  top: 10px;
  left: 19px;
}
.information .information-benefits .benefits-item .number-3 span {
  top: 9px;
  left: 19px;
}
.information .information-benefits .benefits-item .number-4 span {
  top: 10px;
  left: 17px;
}
.information .information-benefits .benefits-item .benefits-item-title {
  font-size: 20px;
  font-family: "Gilroy-Extrabold", sans-serif;
  color: #331907;
  margin-bottom: 20px;
}
.information .information-benefits .benefits-item .benefits-item-description {
  font-size: 15px;
  font-family: "Gilroy-Medium", sans-serif;
  color: #331907;
  line-height: 1.33;
}
.menu {
  background-color: #eba8b1;
  padding: 120px 0;
}
.menu .container h2 {
  font-size: 45px;
  color: #ffffff;
  margin-bottom: 143px;
  text-align: center;
}
.menu .container .menu-items {
  display: grid;
  grid-template-columns: repeat(4, 263px);
  align-items: center;
  justify-content: space-between;
}
.menu .container .menu-items .menu-item {
  border-width: 2px;
  border-color: #ffffff;
  border-style: solid;
  border-radius: 20px;
  padding: 109px 21px 27px 21px;
  position: relative;
}
.menu .container .menu-items .menu-item:hover img {
  transform: scale(1.05);
}
.menu .container .menu-items .menu-item .menu-item-img {
  position: absolute;
  left: calc(50% - 96px);
  top: -60px;
}
.menu .container .menu-items .menu-item .menu-item-img img {
  transition: all 0.3s ease;
}
.menu .container .menu-items .menu-item .menu-item-title {
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 26px;
  text-align: center;
}
.menu .container .menu-items .menu-item .menu-item-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu .container .menu-items .menu-item .menu-item-block .menu-item-block-text .menu-item-block-text-info {
  font-size: 15px;
  font-family: "Gilroy", sans-serif;
  color: #ffffff;
}
.menu .container .menu-items .menu-item .menu-item-block .menu-item-block-text .first-text {
  margin-bottom: 16px;
}
.menu .container .menu-items .menu-item .menu-item-block .button {
  width: 130px;
  padding: 19px;
  height: 50px;
  line-height: 0;
}
.order {
  background-color: #ffefef;
  padding-top: 98px;
  padding-bottom: 120px;
}
.order .container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  position: relative;
}
.order .container .order-image {
  margin-right: 162px;
}
.order .container .order-text {
  max-width: 406px;
}
.order .container .order-text h2 {
  font-size: 45px;
  color: #331907;
  margin-bottom: 41px;
}
.order .container .order-text .order-text-description {
  font-size: 18px;
  font-family: "Gilroy", sans-serif;
  color: #331907;
  line-height: 1.55;
  margin-bottom: 48px;
}
.order .container .order-text .order-choose {
  font-size: 18px;
  font-family: "Gilroy", sans-serif;
  color: #120a06;
  font-weight: bold;
  margin-bottom: 5px;
}
.order .container .order-text #order-form div {
  position: relative;
}
.order .container .order-text #order-form div .order-input {
  display: block;
  margin-top: 31px;
  border-width: 1px;
  border-color: #821328;
  border-style: solid;
  border-radius: 30px;
  font-size: 15px;
  font-family: "Gilroy", sans-serif;
  font-weight: bold;
  padding: 23px;
  width: 294px;
  height: 60px;
  color: black;
  outline: 0;
}
.order .container .order-text #order-form div .order-input::placeholder {
  color: #760c22;
}
.order .container .order-text #order-form div .error-input {
  position: absolute;
  top: -19px;
  left: 0;
  display: none;
}
.order .container .order-text #order-form .order-data {
  margin-top: 40px;
  margin-bottom: 7px;
  font-size: 18px;
  font-family: "Gilroy", sans-serif;
  color: #120a06;
  font-weight: bold;
}
.order .container .order-text #order-form .order-actions .button {
  margin-top: 15px;
  width: 294px;
  padding: 22px;
  height: 60px;
  line-height: 0;
  box-sizing: border-box;
}
.order .container .order-success {
  max-width: 406px;
  display: none;
}
.order .container .strawberry_1 {
  position: absolute;
  animation: anim 3s linear infinite;
  top: 58px;
  left: 0;
}
.order .container .strawberry_2 {
  position: absolute;
  animation: anim 3s linear infinite 1s;
  bottom: 65px;
  right: 0;
}
@keyframes anim {
  0% {
    transform: translateY(-10px);
  }
  25% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}
.footer {
  padding: 73px 0 62px 0;
  background-color: #c0707c;
}
.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .container .footer-logo-and-rules .logo {
  margin-bottom: 19px;
}
.footer .container .footer-logo-and-rules .footer-rules {
  font-size: 12px;
  font-family: "Gilroy", sans-serif;
  color: #e3acb4;
}
.footer .container .footer-instagram .instagram-logo {
  margin: 0 auto 15px auto;
}
.footer .container .footer-instagram .instagram-logo img {
  margin: 0 auto;
}
.footer .container .footer-instagram .instagram-title {
  text-align: center;
  font-size: 16px;
  font-family: "Gilroy", sans-serif;
  color: #ffffff;
  font-weight: bold;
}
.footer.footer-mobile {
  display: none;
}
.popup-present {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  box-shadow: 0px 0px 12.6px 2.4px rgba(130, 19, 40, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a62a3f;
  position: fixed;
  bottom: 45px;
  right: 45px;
  z-index: 2;
}
.popup-present .popup-text {
  border-width: 2px;
  border-color: #770a1d;
  border-style: solid;
  border-radius: 10px;
  background-color: #feefee;
  padding: 15px 12px 14px 11px;
  max-width: 173px;
  font-size: 15px;
  font-family: GilroyMedium, sans-serif;
  color: #770a1d;
  line-height: 1.33;
  transition: all 0.3s ease;
  margin-right: 12px;
  position: absolute;
  left: -192px;
  transform: translateY(73px);
  opacity: 0;
}
.popup-present .popup-triangle {
  position: absolute;
  right: -14px;
  top: calc(50% - 10px);
}
.popup-present:hover .popup-text {
  transform: translateY(0px);
  opacity: 100;
}
.burger {
  display: none;
}
.close {
  display: none;
}
.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #f39999;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media screen and (max-width: 1310px) {
  .popup-present {
    width: 70px;
    height: 70px;
    bottom: 20px;
    right: 20px;
  }
}
@media screen and (max-width: 1310px) {
  .main .container .main-img::before {
    width: 150px;
    height: 150px;
    top: calc(50% - 75px);
    left: calc(50% - 75px);
  }
  .main .container .main-img::after {
    width: 150px;
    height: 150px;
    top: calc(50% - 75px);
    left: calc(50% - 75px);
  }
}
@media screen and (max-width: 1169px) {
  .menu .container .menu-items {
    grid-template-columns: repeat(2, 263px);
    justify-content: center;
    grid-column-gap: 29px;
    grid-row-gap: 136px;
  }
}
@media screen and (max-width: 1105px) {
  .main .container .main-img::before {
    width: 120px;
    height: 120px;
    top: calc(50% - 60px);
    left: calc(50% - 60px);
  }
  .main .container .main-img::after {
    width: 120px;
    height: 120px;
    top: calc(50% - 60px);
    left: calc(50% - 60px);
  }
}
@media screen and (max-width: 1023px) {
  .main {
    padding-bottom: 420px;
    position: relative;
  }
  .main .container .main-img {
    position: absolute;
    right: 55px;
    bottom: 62px;
  }
  .main .container .main-img::before {
    width: 120px;
    height: 120px;
    top: calc(50% - 60px);
    left: calc(50% - 60px);
  }
  .main .container .main-img::after {
    width: 150px;
    height: 150px;
    position: absolute;
    top: calc(50% - 75px);
    left: calc(50% - 75px);
  }
}
@media screen and (max-width: 980px) {
  .information .container .information-benefits {
    grid-template-columns: repeat(2, 220px);
    justify-content: center;
    grid-column-gap: 54px;
    grid-row-gap: 80px;
  }
  .information .container .information-benefits .benefits-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
}
@media screen and (max-width: 767px) {
  .header .container {
    display: flex;
    grid-template-columns: 103px 313px;
    justify-content: start;
  }
  .header .container .header-menu {
    margin: 0 auto;
  }
  .header .container .header-menu ul li {
    margin: 0 19px;
  }
  .header .container .number {
    display: none;
  }
  .order {
    padding-top: 120px;
  }
  .order .container .strawberry_1 {
    width: 72px;
    top: calc(50% - 43px);
    left: calc(50% - 36px);
  }
  .order .container .strawberry_2 {
    top: 119px;
    right: 85px;
  }
  .order .container .order-text {
    order: 1;
  }
  .order .container .order-text h2 {
    font-weight: 100;
  }
  .order .container .order-image {
    order: 2;
    margin-right: 0;
  }
  .main {
    padding-bottom: 420px;
    position: relative;
  }
  .main .container .main-img {
    position: absolute;
    right: 55px;
    bottom: 62px;
  }
  .information .container .information-description {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  .information .container .information-description .information-description-text {
    max-width: 672px;
  }
  .information .container .information-description .information-description-text h2 {
    max-width: 475px;
    margin-left: auto;
    margin-right: auto;
  }
  .information .container .information-description .information-description-text .macaroon-info {
    margin: 0 auto 40px auto;
    max-width: unset;
  }
  .information .container .information-description .information-description-img {
    max-width: 302px;
  }
  .information .container .information-benefits {
    margin-bottom: 5px;
  }
}
@media screen and (max-width: 699px) {
  .main {
    padding-top: 87px;
    padding-bottom: 43px;
  }
  .main .container {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  .main .container .main-text {
    margin-bottom: 38px;
    justify-content: center;
  }
  .main .container .main-text .main-text-description {
    margin-right: auto;
    margin-left: auto;
  }
  .main .container .main-img {
    position: relative;
    top: 0;
    left: 0;
  }
  .order .container .strawberry_1 {
    left: calc(50% + 47px);
  }
}
@media screen and (max-width: 579px) {
  .menu .container .menu-items {
    grid-template-columns: 263px;
  }
  .order .container {
    justify-content: center;
    text-align: center;
  }
  .order .container .strawberry_2 {
    display: none;
  }
  .order .container .strawberry_1 {
    right: 34px;
    left: unset;
    top: 116px;
  }
  .order .container .order-text #order-form div input {
    margin-left: auto;
    margin-right: auto;
  }
  .order .container .order-image {
    display: none;
  }
  .information .container .information-benefits {
    grid-column-gap: 25px;
  }
  .footer {
    display: none;
  }
  .footer.footer-mobile {
    display: block;
    padding: 50px 0;
  }
  .footer .container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .footer .container .footer-logo-and-rules {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 40px;
  }
  .footer .container .footer-logo-and-rules .logo {
    margin-bottom: 40px;
  }
  .footer .container .footer-instagram {
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 525px) {
  .main .container .main-img::before {
    width: 120px;
    height: 120px;
    position: absolute;
    top: calc(50% - 60px);
    left: calc(50% - 60px);
  }
  .main .container .main-img::after {
    width: 120px;
    height: 120px;
    position: absolute;
    top: calc(50% - 60px);
    left: calc(50% - 60px);
  }
}
@media screen and (max-width: 479px) {
  .header {
    padding-bottom: 0;
  }
  .header .container {
    flex-direction: column;
  }
  .header .container a {
    margin-bottom: 15px;
  }
  .main .container .main-img {
    width: 250px;
  }
  .main .container .main-img::before {
    width: 80px;
    height: 80px;
    position: absolute;
    top: calc(50% - 40px);
    left: calc(50% - 40px);
  }
  .main .container .main-img::after {
    width: 80px;
    height: 80px;
    position: absolute;
    top: calc(50% - 40px);
    left: calc(50% - 40px);
  }
  .main .container .main-text h2 {
    font-size: 32px;
    font-weight: 100;
    margin-bottom: 40px;
  }
  .main .container .main-text .main-text-description {
    margin-bottom: 40px;
  }
  .information .container .information-description .information-description-text {
    max-width: 437px;
  }
  .information .container .information-description .information-description-text h2 {
    font-size: 30px;
    font-weight: 100;
  }
  .information .container .information-description .information-description-text .macaroon-info {
    font-size: 16px;
  }
  .information .container .information-benefits {
    grid-template-columns: repeat(2, 165px);
    grid-column-gap: 15px;
    grid-row-gap: 36px;
  }
  .information .container .information-benefits .benefits-item .benefits-item-title {
    font-size: 18px;
    font-weight: 100;
  }
  .information .container .information-benefits .benefits-item .benefits-item-description {
    font-size: 13px;
  }
  .order .container .order-text h2 {
    font-size: 30px;
  }
  .order .container .order-text .order-text-description {
    font-size: 16px;
  }
}
@media screen and (max-width: 375px) {
  .header .container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .header .container .burger {
    display: block;
  }
  .header .container .burger svg {
    height: 22px;
    width: 40px;
  }
  .header .container .header-menu {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #000000c9;
    margin: 0;
    z-index: 9999;
  }
  .header .container .header-menu ul {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .header .container .header-menu ul li {
    margin: 15px 0;
    color: #ff395a;
  }
  .header .container .header-menu ul li a {
    color: #ff395a;
  }
  .header .container .header-menu .close {
    display: block;
    height: 30px;
    width: 30px;
    position: absolute;
    top: 10px;
    left: 10px;
  }
  .header .container .header-menu .close svg g path {
    fill: #ff395a;
  }
  .header .container .header-menu.open {
    display: block;
  }
  .order .container .order-text {
    text-align: left;
    max-width: 294px;
  }
}
@media screen and (max-width: 355px) {
  .information .container .information-benefits {
    grid-template-columns: repeat(1, 165px);
  }
}
